<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dmu.covid.mapper.TransportMapper" >
  <resultMap id="BaseResultMap" type="com.dmu.covid.entity.Transport" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="supplies_id" property="suppliesId" jdbcType="VARCHAR" />
    <result column="current_location" property="currentLocation" jdbcType="VARCHAR" />
    <result column="target_location" property="targetLocation" jdbcType="VARCHAR" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.dmu.covid.entity.Transport" >
    insert into transport (id, supplies_id, current_location, 
      target_location, contact, date
      )
    values (#{id,jdbcType=INTEGER}, #{suppliesId,jdbcType=VARCHAR}, #{currentLocation,jdbcType=VARCHAR}, 
      #{targetLocation,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, supplies_id, current_location, target_location, contact, date
    from transport
  </select>
</mapper>